@charset "UTF-8";

/*!
 * @theme base
 * @author Hidehiro Nagatani
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */

@import "default";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=BIZ+UDPGothic:wght@400;700&family=Roboto+Mono:wght@400;700&family=Source+Code+Pro&display=swap');
:root {
  --c-primary: #2292C4;
  --c-secondary: #f8fbf8;
  --c-accent: #DF6043;
  --c-primary-sub: #104670;
  --c-text: #1C2024;

  --font-body: 'Roboto Mono', 'BIZ UDPGothic', sans-serif;
  --font-code: 'Source Code Pro', 'BIZ UDGothic', monospace;

  --c-separator: rgba(0,0,0,0.26);
  font-size: 16pt;
}

section,
section * {
  box-sizing: border-box;
}
section {
  position: relative;
  background-image: none;
  background-color: var(--c-secondary);
  
  padding: 3rem 2rem 0;

  font-family: var(--font-body);
  color: var(--c-text);
  line-height: 1.6;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
section h2,
section h3,
section h4,
section h5,
section h6 {
  margin: 0;
  padding: .5rem 0 .25rem;
  line-height: 1.2;
  font-weight: 700;
}

code {
  font-family: var(--font-code);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .25rem 1.5rem;
  background-color: var(--c-primary);
  color: var(--c-secondary);
  font-size: 0.75rem;
}

footer {
  font-size: 0.5rem;
}
/* pagenumber */
section::after {
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
  font-size: 0.75rem;
}
/* 強調、斜体、強調斜体は、斜体をなしにして色と太字を替える */
section em {
  font-style: normal;
  color: var(--c-primary-sub);
}
section strong {
  font-style: normal;
  font-weight: normal;
  color: var(--c-accent);
}
section em strong {
  font-style: normal;
  font-weight: 700;
  color: var(--c-accent);
}

/* 注釈の代替で、blockquateを使用する */
blockquote {
  border: none;
  background: none;
  color: var(--c-text);
  border-top: 1px solid var(--c-separator);
  max-width: 100%;
  padding: 1rem;
  margin: 0 3rem;
  font-size: 0.5rem;
  position: absolute;
  bottom: 38px;
  left: 0;
}
blockquote::before,
blockquote::after {
  content: "";  
}


/* 表紙・セクションタイトル */
section.title {
  justify-content: center;
}
section.title[data-marpit-advanced-background-split="right"] figure {
  background-position: right bottom !important;
}
section.title > h1 {
  color: var(--c-primary-sub);
  border-left: .75rem var(--c-accent) solid;
  margin: 0;
  padding: 1rem 2rem;
  font-size: 4rem;
  text-align: left;
}
section.title > h2,
section.title > h3,
section.title > h4,
section.title > h5 {
  color: var(--c-primary-sub);
  margin: 1rem 0 .5rem;
}
section.title > footer {
  display: none;
}


section.subtitle {
  justify-content: flex-end;
  padding-bottom: 3rem;
}
section.subtitle[data-marpit-advanced-background-split="right"] figure {
  background-position: right bottom !important;
}
section.subtitle > h1 {
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
  text-align: left;
  border-left: 0.5rem solid var(--c-accent);
}
section.subtitle > h2,
section.subtitle > h3,
section.subtitle > h4,
section.subtitle > h5 {
  color: var(--c-primary-sub);
  margin: 1rem 0 .5rem;
}
section.subtitle > footer {
  display: none;
}
